@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@200&display=swap");

:root {
  --primary-color: #047aed;
  --secondary-color: #1c3fa8;
  --dark-color: #002240;
  --light-color: #f4f4f4;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

code,
pre {
  background: #333;
  color: #fff;
  padding: 10px;
}

.hidden {
  visibility: hidden;
  height: 0;
}

/* Navbar */
.navbar {
  background-color: var(--primary-color);
  color: #fff;
  height: 70px;
  overflow: hidden;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 10px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: 2px solid #fff;
}

.navbar .flex {
  justify-content: space-between;
}

/* Showcase */
.showcase {
  height: 400px;
  background-color: var(--primary-color);
  color: #fff;
  position: relative;
}

.showcase h1 {
  font-size: 40px;
}

.showcase p {
  margin: 20px 0;
}

.showcase .grid {
  overflow: visible;
  grid-template-columns: 55% 45%;
  gap: 30px;
}

.showcase-text {
  animation: slideInFromLeft 1s ease-in;
}

.showcase-form {
  position: relative;
  top: 60px;
  height: 350px;
  width: 400px;
  padding: 40px;
  z-index: 100;
  /* justify-self: flex-end; */
  animation: slideInFromRight 1s ease-in;
}

.showcase-form .form-control {
  margin: 30px 0;
}

.showcase-form input[type="text"],
.showcase-form input[type="email"] {
  border: 0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 3px;
  font-size: 16px;
}

.showcase-form input:focus {
  outline: none;
}

.showcase::before,
.showcase::after {
  content: "";
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background: #fff;
  transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
}

/* Welcome */
.welcome {
  padding-top: 100px;
  animation: slideInFromBottom 1s ease-in;
}

.welcome-heading {
  max-width: 500px;
  margin: auto;
}

.welcome .grid h3 {
  font-size: 35px;
}

.welcome .grid p {
  font-size: 20px;
  font-weight: bold;
}

/* Boxxy */

.boxxy {
  margin: 30px 0;
}

.boxxy ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Image Gallery */
.image-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1.5rem;
  grid-template-areas:
    "img-1 img-1 img-2 img-3"
    "img-4 img-5 img-5 img-6"
    "img-7 img-7 img-8 img-8";
}

.image-gallery a {
  width: 100%;
  height: 25rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.image-gallery a ion-icon {
  /* color: rgba(255,255,255, 0.6);*/
  font-size: 3rem;
  position: relative;
  z-index: 100;
  padding: 1rem 3rem;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 0.4rem;
  opacity: 0;
  transition: opacity 0.5s;
}

.image-gallery a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.5s;
}

.image-gallery a:hover ion-icon,
.image-gallery a:hover::before {
  opacity: 1;
}

.img-1 {
  grid-area: img-1;
  background-image: url("../img/display/hawaiian.webp");
}
.img-2 {
  grid-area: img-2;
  background-image: url("../img/display/moonbag.webp");
}
.img-3 {
  grid-area: img-3;
  background-image: url("../img/display/sunglasses-2.webp");
}
.img-4 {
  grid-area: img-4;
  background-image: url("../img/display/scrunchies.webp");
}
.img-5 {
  grid-area: img-5;
  background-image: url("../img/display/swimwear.webp");
}
.img-6 {
  grid-area: img-6;
  background-image: url("../img/display/tshirt-2.webp");
}
.img-7 {
  grid-area: img-7;
  background-image: url("../img/display/bucket-1.webp");
}
.img-8 {
  grid-area: img-8;
  background-image: url("../img/display/hairclips.webp");
}

/* about us*/
.about-img {
  margin: 2rem;
  width: 70%;
  height: 50%;
}

.about-2 p {
  font-weight: bolder;
}

.para {
  display: flex;
}

.para p {
  font-weight: normal;
}

/* Footer */
.footer .social a {
  margin: 0 10px;
}

.footer .onlinepay a {
  margin: 0 10px;
}

/* Animations */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateX(0);
  }
}

/* Tablets and under */
/*images*/
@media screen and (max-width: 900px) {
  .image-gallery {
    grid-template-areas:
      "img-1 img-1 img-2 img-2"
      "img-3 img-4 img-5 img-6"
      "img-7 img-7 img-8 img-8";
  }
}

@media screen and (max-width: 600px) {
  .image-gallery {
    grid-template-areas:
      "img-1 img-1 img-1 img-1"
      "img-2 img-2 img-2 img-2"
      "img-3 img-3 img-3 img-3"
      "img-4 img-4 img-4 img-4"
      "img-5 img-5 img-5 img-5"
      "img-6 img-6 img-6 img-6"
      "img-7 img-7 img-7 img-7"
      "img-8 img-8 img-8 img-8";
  }
}

@media (max-width: 768px) {
  .grid,
  .showcase .grid,
  .stats .grid,
  .cli .grid,
  .cloud .grid,
  .features-main .grid,
  .docs-main .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .showcase {
    height: auto;
  }

  .showcase-text {
    text-align: center;
    margin-top: 40px;
    animation: slideInFromTop 1s ease-in;
  }

  .showcase-form {
    justify-self: center;
    margin: auto;
    animation: slideInFromBottom 1s ease-in;
  }

  .cli .grid > *:first-child {
    grid-column: 1;
    grid-row: 1;
  }

  .features-head,
  .features-sub-head,
  .docs-head {
    text-align: center;
  }

  .features-head img,
  .features-sub-head img,
  .docs-head img {
    justify-self: center;
  }

  .features-main .grid > *:first-child,
  .features-main .grid > *:nth-child(2) {
    grid-column: 1;
  }

  .para {
    display: flex;
    flex-wrap: wrap;
  }
}

/* Mobile*/

@media (max-width: 500px) {
  .navbar {
    height: 110px;
  }

  .navbar .flex {
    flex-direction: column;
  }

  .navbar ul {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
  }
}
